applications:
  # The app's name, which must be unique within the project.
  myapp:
    type: 'python:3.13'
  web:
    upstream:
      socket_family: unix
    commands:
      start: "gunicorn -w 4 -b unix:$SOCKET ll_project.wsgi:application"
    locations:
      "/":
        passthru: true
      "/static":
        root: "static"
        expires: 1h
        allow: true

  # The size of the persistent disk of the application (in MB).
  disk: 512

  # Set a local read/write mount for logs.
  mounts:
    "logs":
      source: local
      source_path: logs

  hooks:
    build: |
      pip install --upgrade pip
      pip install -r requirements.txt
      pip install -r requirements_remote.txt
          
      mkdir logs
      python manage.py collectstatic
      rm -rf logs
    deploy: |
      python manage.py migrate  

  routes:
    "https://{default}/":
      type: upstream
      upstream: "ll_project:http"

    "https://www.{default}/":
      type: redirect
      to: "https://{default}/"

  services:
    # The name of the service container. Must be unique within a project.
    postgresql:
      type: postgresql:18      